/* purgecss start ignore */
@tailwind base;
@tailwind components;
@import "./article.css";
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #000000;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #FFF;
}

.Demo__some-network {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

.Demo__some-network__share-count {
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  overflow: visible;
  width: 0;
  margin-top: 3px;
  font-size: 12px;
}

.Demo__some-network__share-button {
  cursor: pointer;
}

.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}

.Demo__some-network__custom-icon {
  width: 32px;
  height: 32px;
}
